a{
    color:#671eff;
}
a:hover{
    color:#671eff;
}
html {
    overflow: auto;
}
body {
    overflow: hidden;
    position: relative;
    min-width: 980px;
    margin:0;
    font-family:Hiragino Kaku Gothic Pro;
}  
.container{
    width:100%;
    margin:auto;
    padding-left:0;
}
input[type="text"]{
    width:50%;
}
header{
    margin: 0 -500%;
    padding: 15px 500%; 
    background-color:#251E1C;
    overflow:auto;
}
header img{
    float:left;
    margin-right:10px;
    margin-left:15px;
}
header p{
    color:#fff;
    font-size:12px;
}
.head-right{
    float:right;
    margin-top:10px;
}
.head-right a{
    color:#fff;
    font-size:12px;
}
.head-right a.logout{
    margin-left:10px;
    color:#aa0000;
    background-color:#fff;
    border:2px solid #aa0000;
    padding:5px;
}
.head-right a:hover.logout{
    text-decoration:none;
    background-color: #FFF;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}
.public_sidebar{
    float:left;
    width:20%;
}
.public_sidebar h3{
    padding:15px;
    margin:0;
    color:#fff;
    font-size:21px;
}
ul{
    list-style:none;
}
.public_sidebar li{
    margin-top:10px;
}
.public_sidebar .sidemenu{
    padding:15px 0;
}
.sideBox1{
    background-color:#fff4f5;
}
.sideBox2{
    background-color:#eef6fc;
}
.sideBox3{
    background-color:#e5fbf5;
}
.sideTitle1{
    background-color:#FF12Ba;
}
.sideTitle2{
    background-color:#56a6e6;
}
.sideTitle3{
    background-color:#00d0a0;
}
.sideTabMenu{
    margin-left:40px;
}
.sideBox1 .sidemenu li a{
    color:#d4414d;
}
.sideBox2 .sidemenu li a{
    color:#5400ff;
}
.sideBox3 .sidemenu li a{
    color:#68a763;
}
.gray_p{
    color:#716f6f;
}
footer{
    background-color:#fff;
    margin: 0;
    padding: 0;
    padding-right: 50px;
}
.main_contents{
    float:right;
    width:80%;
    padding:20px;
}
form.head_search{
    width:50%;
    float:right;
}
form.head_search input[type='text']{
    width:61%;
    margin-right:20px;
}
form.head_search input[type="submit"],.red_submit{
    background-color:#d50000;
    color:#fff;
    border:none;
    padding: 4px 20px;
}
.breadcrumb{
    background-color:#fff;
    margin-bottom:0;
}
.breadcrumb p,.breadcrumb a{
    font-size:16px;
    display:inline;
}
.pagenav{
    float:right;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:20px;
}
.pagenav span{
    background-color: #4d4d4d;
    color: #fff;
    padding: 7px 10px;
    border:solid 1px #4d4d4d;
}
.pagenav span.current{
    background-color:#fff;
    color:#4d4d4d;
}
span.bold{
    padding:0;
}
.bold{
    font-weight:bold;
}
table.simple_t{
    width:100%;
}
table tr.tableTitle td{ 
    background-color:#f2f2f2;
    padding:5px;
}
table.simple_t td{
    padding:15px 5px;
    border:solid 1px #5d5d5d;
    border-bottom:solid 1px #5d5d5d!important;
}
a.sort_btn{
    position: relative;
    top: 3px;
    height: 0;
    border: 8px solid transparent;
    border-top: 11px solid #333;
    float:right;
}
a.black_a{
    color:#333;
}
td.ios{
    color:#639de7;
}
td.android{
    color:#72d145;
}
.responsible{
    margin-top:20px;
    margin-right:20px;
    float:right;
}
.responsible p{
    padding: 10px;
    border: 1px solid #5d5d5d;
}
.responsible p.person{
    background-color: #f2f2f2;
    margin-right:-5px;
    border-right:none;
}
.statusBox{
    margin-top: 11px;
    padding: 6px;
    border: 1px solid #5d5d5d;
    float:right;
}
.statusBox p.status{
    margin-right:10px;
}
.statusBox .news-status {
    padding: 1px;
}
.inline{
    display:inline;
}
.red_a,.red_a:hover{
    color:#bb0000;
}
.white_p{
    color:#fff;
}
.back_gray{
    background-color:#4d4d4d;
}
p.p_title{
    margin-top:20px;
    padding:5px 40px;
}
ul.app_information li{
    margin-top:20px;
    font-weight:bold;
}
.nav-tabs.submenu {
    background-color:#fff;
}
.topTab li a{
    border:1px solid #ccc!important;
}
.mT-20{
    margin-top: -50px;
}
table.report td.border-none{
    border:1px solid!important;
}
table.report td.border-left{
    border-left:2px solid #fff;
    border-left-style:dotted;
}
#mySubTabContent form select{
    width:80px;
}
.comment-wrap{
    margin-bottom:100px;
}
.gray_btn{
    float: right;
    margin-top: 0px;
    margin-bottom: 14px;
    padding: 3px;
    border: 2px solid #4d4d4d;
    background-color:#4d4d4d;
}
.gray_btn a{
    color:#fff;
}
.repray h5 span{
    margin-right:10px;
}
a.gray_p:hover{
    color:#716f6f;
}
span.m20float{
    margin-right:25px;
}
table.bottom {
    width: 88%;
}
.setting-tag{
    border-bottom: 1px solid #4d4d4d;
    padding-bottom:20px;
}
.setting-tag ul {
    margin-left: -15px;
}
.setting-tag li{
    text-align:left;
}
.ml20{
    margin-left:20px;
}
.mr20{
    margin-right:20px;
}
h4.squareT{
    position: relative;
    left: -30px;
    border-left: 19px solid #333;
    padding-left: 10px;
    font-weight: bold;
}
.settingBox{
    border-bottom: 1px solid #4d4d4d;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.settingBoxA{
    margin-bottom:100px;
    padding-left: 30px;
}
.imgBoxA p{
    padding-left:10px;
}
.imgBoxA img{
    margin-left:30px;
}
.imgBoxB{
    padding-left:10px;
}
span.circle{
    border: 7px solid;
    height: 13px;
    display: inline-block;
    border-radius: 8px;
}
.reserveBox h5+p{
    padding-left:50px;
}
.reserveBox{
    font-weight:bold;
}
.next-edit{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
span.nowSale{
    color:#ff990e;
}
span.beforeReserve{
    color:#03c49a;
}
.linkBox{
    display: inline;
    float: right;
    margin-top: 20px;
}
.linkBox a{
    padding:8px;
    font-weight:bold;
}
a.whiteBox_red{
    color:#bb0000;
    background-color:#fff;
    border:2px solid #bb0000;
}
a.redBox_white{
    color:#fff;
    background-color:#bb0000;
    border:1px solid #bb0000;
}
.comLink{
    margin-top: 20px;
}
.comLink a{
    color: #716f6f;
}
.tableText{
    height:100px;
}
table.gacha_count{
    width:70%;
}
table.gacha_count td{
    text-align:center;
}
span.count{
    margin-right:25px;
}
table.gacha_count td.border_none{
    border:none!important;
}
.back_gray{
    background-color:#666666;
    color:#fff;
}
.contentBox{
    padding-top:50px;
    padding-left:30px;
}
table.dataTable{
    width:80%;
}
table.dataTable td{
    padding-bottom:30px;
    border:none;
}
table.dataTable th{
    padding-bottom:30px;
    padding-right:30px;
    width:20%;
}
.floatR{
    float:right;
}
.floatL{
    float:left;
}
.rightBox{
    width: 80%;
    margin-right: 50px;
}
.presentBox{
    margin-top:20px;
    padding-left:30px;
}
table.rareT td,table.rareT th{
    border:none;
    width:80px;
}
table.rareT{
    margin-bottom:20px;
}
table.presentInfo{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
table.presentInfo td{
    border:none;
}
.left1{
    width:12%;
}
.left2{
    width:24%;
}
.left3,.left4{
    width:33%;
    padding-right:35px;
}
.presentImgBox img{
    width: 100%;
    border: 1px solid #aaa;
}
.presentSumBox{
    margin-top:50px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ffffff;
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px;
    background-position: 0 0, 11px 11px;
    background-image: -webkit-linear-gradient(45deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%), -webkit-linear-gradient(-135deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%);
    background-image: -moz-linear-gradient(45deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%), -moz-linear-gradient(-135deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%);
    background-image: -ms-linear-gradient(45deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%), -ms-linear-gradient(-135deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%);
    background-image: -o-linear-gradient(45deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%), -o-linear-gradient(-135deg, #ccc 25%, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 75%);
}
table.presentSum{
    width:70%;
}
table.presentSum td{
    border-bottom:none;
    width:50%;
    text-align:center;
    font-weight:bold;
}
.payBox{
    width:80%;
    float:right;
}
.payBox table.simple_t{
    width:55%;
    float:right;
}
.nowPay{
    margin-top:37px;
    float:left;
}
.nowPay td,.nowPay th{
    min-width:150px;
    border: 2px solid #4d4d4d;
    padding:10px 15px;
}
.nowPay td{
    border-left:none;
}
.nowPay th{
    border-right: 3px solid #4d4d4d;
    border-right-style: dotted;
}
.registerBtn a{
    padding:10px 15px;
    margin-left:10px;
}
table.newsRegister{
    width:100%;
}
table.newsRegister th{
    vertical-align: top;
}
span.youtubeurl{
    margin-left:20px;
}
img.in_table{
    width:50%;
}
table.newsRegister input[type="file"]{
    display:inline;
    vertical-align:bottom;
}
table.newsRegister textarea{
    width:100%;
    height:100px;
}
.submit_button{
    display:block;
    width: 300px;
    margin-left: auto;
    background-color: #aa0000;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 3px 0 #7b0000;
    margin-right: auto;
    border:none;
}
.submit_button:hover{
    box-shadow: 0 1px 0 #7b0000;
    transform: translate3d(0, 3px, 0);
}
ul.tag_list{
    padding-left:0;
    margin-bottom:30px;
}
ul.tag_list li:not(.edit_tag){
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    padding:5px;
    width:15%;
    color:#767676;
    background-color:#f2f2f2;
    border:solid 1px #767676;
}
li.edit_tag{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    padding:5px;
    width:60px;
    text-align:center;
    background-color: #d50000;
}
li.edit_tag a,li.edit_tag:hover{
    color: #fff;
}
form.addtag{
    margin-bottom:100px;
}
form.addtag input[type="text"]{
    width:300px;
    margin-right:10px;
    margin-bottom:10px;
}
ul.edit_tag{
    width:100%;
    margin-bottom:100px;
}
ul.edit_tag li{
    margin-bottom:10px;
}
span.tagName{
    width:40%;
    display: inline-block;
    padding:5px;
    margin-right:20px;
    color:#767676;
    background-color:#f2f2f2;
    border:solid 1px #767676;
}
form.edit_tag_form li a.tag_delete{
    margin-left:20px;
    color: #bb0000;
    padding:5px 10px;
    background-color: #fff;
    border: 2px solid #bb0000;    
}
.inline{
    display:inline;
}
.registerBtnB a{
    padding:10px 50px;
}
.no_Release,.no_Release:hover{
    color:#ff00c4;
}
.now_Release,.now_Release:hover{
    color:#cc1d33;
}
.end_Release,.end_Release:hover{
    color:#413a37;
}
.edit_email select.year{
    margin-left:10px;
}
.edit_email select.day{
    margin-right:20px;
}
#topRightBox table td{
   padding:15px 10px!important;
   width:auto;
}
#topRightBox table col.left,#topRightBox table col.right {
    width: auto;
}
ul#osmenu2 li,ul#osmenu3 li {
    border: 2px solid #4d4d4d;
    width: 15%;
}
#osmenu2 li.active a, #osmenu2 li.active a:hover, #osmenu2 li.active a:focus,
#osmenu3 li.active a, #osmenu3 li.active a:hover, #osmenu3 li.active a:focus {
    background-color: #fff!important;
    color: #000;
}
#osmenu2 li a, #osmenu2 li a:hover,
#osmenu3 li a, #osmenu3 li a:hover{
    padding: 5px;
    background-color: #4d4d4d;
    color: #fff;
    border: none;
}
.reportPage table tr.last-tr{
    background-color:#ccc;
}
.companyTopRightBox .linkBox{
    margin-top:77px;
}
form.contactForm{
    margin-top:50px;
    padding-left:50px;
}
table.formTable{
    width:80%;
}
table.formTable th{
    width:10%;
    text-align:right;
    padding-bottom:20px;
}
table.formTable td{
    width:80%;
    border:none;
    padding-bottom:20px;
    padding-left:20px;
}
form.contactForm input[type="text"],form.contactForm textarea{
    width:90%;
}
form.contactForm input[type="submit"]{
    width:300px;
}
.textTitleCel{
    vertical-align:top;
}
.sendTo a{
    margin-left:5px;
    font-weight:bold;
    color:#666;
}
.sendTo a:hover{
    text-decoration:none;
}
.sendTo input{
    margin-bottom:10px;
}
input[type="date"]{
    margin-left:5px;
    margin-right:20px;
}
input[disabled="disabled"]{
    background-color:#FFF8E1;
    color: #000;
}
input.refine{
    background-color: #666;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;
    margin: 10px auto;
    padding: 5px 20px;
    box-shadow: 0 3px 0 #4d4d4d;
    width:200px;
}
input.refine:hover{
    box-shadow: 0 1px 0 #4d4d4d;
}
.refineBox{
    margin-bottom:10px;
}
.refineSubmit{
    float:right;
    margin-top:-50px;
}
.paymentBottomBox .nowPay {
    margin-top: 10px;
}
.adBox{
    padding-left:50px;
}
.topBox{
    border-bottom:1px solid #4d4d4d;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
}
form.advertiseForm table{
    width:100%;
}
form.advertiseForm table th{
    width:10%;
    text-align:center;
    padding:10px;
}
form.advertiseForm table td{
    border-bottom:none;
    padding:10px;
}
.adSelectBox,.adBox1{
    padding-left:30px;
    padding-bottom:20px;
}
#conditionBox{
    margin-bottom:10px;
}
.adSelectBox .jenre select{
    margin-left:5px;
    margin-right:10px;
}
.adSelectBox .new select,
.adSelectBox .ranking select
{
    margin-left:20px;
    margin-right:10px;
}
input[name="adType"]{
    margin-bottom:10px;
}
select[name="searchType"]{
    margin-right:20px;
}
#searchApp,#searchCom{
    background-color: #d50000;
    color: #fff;
    border: none;
    padding: 4px 20px;
    margin-bottom:20px;
}
.adSearchResult{
    padding-left:10px;
}
span.adSearchResult{
    display:block;
    padding-left:10px;
}
.adSearchResult label{
    display:block;
    margin-bottom:10px;
}
.advertiseCompanyForm{
    margin-top:20px;
}
.advertiseCompanyForm table td{
    border-bottom:none;
    padding-bottom:20px;
}
.advertiseCompanyForm table td input{
    width:80%;
}
.advertiseCompanyForm table th{
    width:30%;
    padding-bottom:20px;
}
.adImgTable{
    width:100%;
}
table.adImgTable th{
    width:15%;
}
.adImgTable img{
    width:40%;
}
.csv a:hover {
    color:#000;
}
input.inputYoutubeId{
    width:150px;
}
.next-edit a:hover {
    color: #ffffff;
}
.status-color{
    float: right;
    height: 15px;
    width: 35px;
    margin-top: 2px;
    margin-left: 5px;
}
.statusBox .public .status-color{
    background-color: #aa0000;
}
.statusBox .public .status-text{
    color: #aa0000;
}
.statusBox .private .status-color{
    background-color: #4d4d4d;
    float: left;
    margin-right: 5px;
    margin-left:0;
}
.statusBox .private .status-text{
    color: #4d4d4d;
}
.statusColorBox {
    padding: 1px;
    float: left;
    border: 1px solid;
}
